{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ action }} Content Row</h1>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'content_row_list' %}" class="btn btn-secondary">&larr; Back to Content Rows</a>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}